* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
  width: 80%;
  margin-left: 10%;
}

@media screen and (max-width: 1023px) {
  body {
    width: 90%;
    margin-left: 5%;
  }
}

#header {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header #ML {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  #header #ML {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  #header #ML {
    display: none;
  }
}

#header #ML #Menu {
  margin: auto 10px;
  width: 10%;
}

#header #ML #Menu img {
  width: 30px;
}

#header #ML #Logo {
  margin: auto 0;
  width: 70%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  #header #ML #Logo {
    width: 80%;
  }
}

#header #ML #Logo img {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  #header #ML #Logo img {
    width: 80%;
  }
}

#header #RCP {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  #header #RCP {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  #header #RCP {
    display: none;
  }
}

#header #RCP #Espace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}

#header #RCP #Espace span {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Nunito Sans";
}

@media screen and (max-width: 1024px) {
  #header #RCP #Espace span {
    font-size: 16px;
  }
}

#header #RCP #Espace span a {
  text-decoration: none;
  color: #000;
}

#header #RCP #Con {
  width: 50%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #RCP #Con #Lgn,
#header #RCP #Con #Cnx {
  width: 50%;
  border-right: solid 1px black;
  margin: 0 auto;
}

#header #RCP #Con #Lgn span,
#header #RCP #Con #Cnx span {
  font-size: 18px;
  font-weight: 800;
  font-family: "Nunito Sans";
}

@media screen and (max-width: 1024px) {
  #header #RCP #Con #Lgn span,
  #header #RCP #Con #Cnx span {
    font-size: 16px;
  }
}

#header #RCP #Con #Lgn span a,
#header #RCP #Con #Cnx span a {
  text-decoration: none;
  color: #000;
}

#header #RCP #Con #Prf {
  width: 33%;
  margin-left: 5%;
}

#header #RCP #Con #Prf img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

#header .MenuResp {
  display: none;
}

@media screen and (max-width: 768px) {
  #header .MenuResp {
    width: 100%;
    height: 60px;
    display: block;
    background-color: white;
  }
}

#header .MenuResp div #check {
  display: none;
}

#header .MenuResp div #check:not(:checked) ~ .MenuVer {
  display: none;
}

#header .MenuResp div #check:checked ~ .MenuVer {
  display: block;
}

#header .MenuResp div .MenuRF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .MenuResp div .MenuRF .menuimg {
  width: 40px;
  height: auto;
  margin: 0 auto;
}

#header .MenuResp div .MenuRF .logo {
  width: 50%;
  height: auto;
}

#header .MenuResp div .MenuVer {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  height: auto;
  background-color: #FF5F00;
  opacity: 0.9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .MenuResp div .MenuVer .MV {
  height: 30px;
  margin: auto 0;
  border-top: solid 2px white;
}

#header .MenuResp div .MenuVer .MV > a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: montserrat;
}

#Gestion_admin {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito Sans";
  color: Black;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

#Gestion_admin .Gs {
  width: 20%;
}

#Gestion_admin .Gs a {
  text-decoration: none;
  color: Black;
}

#Gestion_admin #A1 {
  background-color: white;
  opacity: 0.6;
}

#Gestion_admin #A1:hover {
  background-color: #FF5F00;
  opacity: 0.9;
}

#Gestion_admin #A2 {
  background-color: white;
  opacity: 0.6;
}

#Gestion_admin #A2:hover {
  background-color: #FF5F00;
  opacity: 0.9;
}

#Gestion_admin #A3 {
  background-color: white;
  opacity: 0.6;
}

#Gestion_admin #A3:hover {
  background-color: #FF5F00;
  opacity: 0.9;
}

#Gestion_admin #A4 {
  background-color: white;
  opacity: 0.6;
}

#Gestion_admin #A4:hover {
  background-color: #FF5F00;
  opacity: 0.9;
}

#Gestion_admin #A5 {
  background-color: white;
  opacity: 0.6;
}

#Gestion_admin #A5:hover {
  background-color: #FF5F00;
  opacity: 0.9;
}

.zone_separ {
  width: 100%;
  height: 41px;
}

.zone_separR {
  width: 100%;
  height: 35px;
}

.zone_separ_noir {
  background-color: black;
}

.zone_separ_color {
  background-color: #FF5F00;
}

.zone_separ_blanc {
  background-color: white;
}

#Footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Footer #Coopy {
  width: 30%;
}

#Footer #Coopy p {
  color: black;
  font-size: 15px;
}

#Footer #RxS {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Footer #RxS .Rs {
  width: 10%;
  height: auto;
  background-color: #FF5F00;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Footer #RxS .Rs img {
  width: 30px;
  height: 30px;
}

.blank {
  width: auto;
  height: 20px;
}

#sincrire {
  display: none;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  position: absolute;
  top: 0;
  z-index: 188;
}

#sincrire #logoInscrip {
  width: 60%;
  height: 100px;
  background-color: white;
  margin-left: 20%;
  margin-top: 7.5%;
}

#sincrire #logoInscrip img {
  margin-left: 5%;
  width: 40%;
  height: 100px;
  float: left;
}

#sincrire #logoInscrip a {
  font-size: 20px;
  font-family: "Nunito Sans";
  margin-left: 43%;
  color: #FF5F00;
  margin-top: 90px;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

#sincrire #Inscrip {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: Black;
}

#sincrire #Inscrip #pan1 {
  width: 60%;
  background-color: black;
  color: White;
}

#sincrire #Inscrip #pan1 p {
  font-size: 18px;
  font-family: "Nunito Sans";
}

#sincrire #Inscrip #pan1 .input {
  width: 70%;
  height: 30px;
  font-size: 18px;
  font-family: "Nunito Sans";
}

#sincrire #Inscrip #pan1 #check {
  float: left;
  width: 20px;
}

#sincrire #Inscrip #pan1 label {
  font-size: 18px;
  font-family: "Nunito Sans";
  margin-left: 2%;
}

#sincrire #Inscrip #pan1 #SeConn {
  color: black;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #FF5F00;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
}

#sincrire #Inscrip #pan2 {
  width: 40%;
  background-color: #FF5F00;
  color: white;
}

#sincrire #Inscrip #pan2 p {
  text-align: center;
  font-size: 24px;
  font-family: "Nunito Sans";
}

#sincrire #Inscrip #pan2 #p1 {
  font-size: 18px;
  text-align: start;
  margin-left: 10%;
}

#sincrire #Inscrip #pan2 ul {
  margin-left: 10%;
}

#sincrire #Inscrip #pan2 ul li {
  font-size: 18px;
  text-align: start;
  margin-left: 10%;
  font-family: "Nunito Sans";
  color: white;
  padding-top: 20px;
}

#sincrire #Inscrip #pan2 #Adherer {
  color: #FF5F00;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 600;
  margin-left: 10%;
  border-style: none;
  cursor: pointer;
}

#R1 {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#R1 #R1-A {
  margin-left: 5%;
  margin-top: 10%;
  width: 30%;
  background-color: #FF5F00;
  height: 450px;
  z-index: 1;
}

#R1 #R1-A #R1-A-1 {
  margin-left: 34%;
  display: inline-block;
  width: 130px;
  height: 20px;
  background: #FFF;
  text-transform: uppercase;
  border-radius: 4px;
}

#R1 #R1-A #R1-A-1 p {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #FF5F00;
  text-align: center;
}

#R1 #R1-A #R1-A-2 {
  font-size: 51px;
  line-height: 65px;
  margin-bottom: 20px;
  font-weight: 800;
  font-family: "Nunito Sans";
  color: white;
}

#R1 #R1-A #R1-A-3 {
  width: 70%;
}

#R1 #R1-A #R1-A-3 .R1-A-3-1 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 25%;
}

#R1 #R1-A #R1-A-3 .R1-A-3-1 div {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R1 #R1-A #R1-A-3 .R1-A-3-1 div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: auto;
}

#R1 #R1-A #R1-A-3 .R1-A-3-1 p {
  margin: auto 0;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  color: white;
  margin-left: 5%;
}

#R1 #R1-A button {
  background-color: white;
  color: black;
  width: 70%;
  height: 50px;
  border: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-left: 15%;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#R1 #R1-A button span {
  margin-left: 10px;
  color: #FF5F00;
}

#R1 #R1-B {
  z-index: 10;
  margin-left: -70px;
  width: 69%;
  background-color: transparent;
  height: auto;
  background-image: url(../IMG/Img_voiture/home2-bg-top.png);
  background-size: cover;
}

#R2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#R2 #Zone_Fil {
  top: 30px;
  width: 30%;
  height: 800px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  border: solid 2px #FF5F00;
}

#R2 #Zone_Fil #p_rech {
  color: black;
}

#R2 #Zone_Fil p {
  font-size: 18px;
  font-weight: 800;
  color: black;
  text-align: center;
}

#R2 #Zone_Fil #ZF-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 2px #FF5F00;
}

#R2 #Zone_Fil #ZF-1 img {
  width: 50px;
  height: auto;
}

#R2 #Zone_Fil #Marque,
#R2 #Zone_Fil #Carburant {
  width: 100%;
  height: 50px;
  color: black;
}

#R2 #Zone_Fil #Marque select,
#R2 #Zone_Fil #Carburant select {
  width: 50%;
  height: 50px;
  font-size: 15px;
  margin-left: 25%;
  padding: 10px 30px;
  border: solid 1px #747171;
}

#R2 #Zone_Fil #Marque select:hover,
#R2 #Zone_Fil #Carburant select:hover {
  border: solid 2px #FF5F00;
  background-color: #FF5F00;
}

#R2 #Zone_Fil #Marque select option:first-child,
#R2 #Zone_Fil #Carburant select option:first-child {
  background-color: #FF5F00;
}

#R2 #Zone_Fil #Marque option,
#R2 #Zone_Fil #Carburant option {
  background: white;
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#R2 #Zone_Fil #Marque option:hover,
#R2 #Zone_Fil #Carburant option:hover {
  color: #FF5F00;
}

#R2 #Zone_Fil #Marque option:hover,
#R2 #Zone_Fil #Carburant option:hover {
  background-color: #FF5F00;
}

#R2 #Zone_Fil #range {
  margin-left: 20%;
}

#R2 #Zone_Fil #range input[type='range'] {
  width: 230px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

#R2 #Zone_Fil #range input[type='range'],
#R2 #Zone_Fil #range input[type='range']::-webkit-slider-runnable-track,
#R2 #Zone_Fil #range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

#R2 #Zone_Fil #range input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 8px;
  background: #FF5F00;
}

#R2 #Zone_Fil #range input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

#R2 #Zone_Fil #range input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 25px;
  width: 25px;
  margin-top: -10px;
  background: white;
  border: 5px solid #FF5F00;
  border-radius: 25px;
  z-index: 1;
}

#R2 #Zone_Fil #range input[type='range']:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

#R2 #Zone_Fil #range .rangeslider {
  position: relative;
  height: 60px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 20px;
}

#R2 #Zone_Fil #range .rangeslider input {
  position: absolute;
}

#R2 #Zone_Fil #range .rangeslider {
  position: absolute;
}

#R2 #Zone_Fil #range .rangeslider span {
  position: absolute;
  margin-top: 30px;
  left: 0;
  color: #FF5F00;
}

#R2 #Zone_Fil #range .rangeslider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}

#R2 #Zone_Fil #Type_V {
  width: 100%;
  height: auto;
}

#R2 #Zone_Fil #Type_V #Types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
}

#R2 #Zone_Fil #Type_V #Types .Type_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 80px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#R2 #Zone_Fil #Type_V #Types .Type_1 img {
  width: 50px;
  height: auto;
}

#R2 #Zone_Fil #Type_V #Types .Type_1 p {
  font-size: 12px;
  font-weight: 400px;
}

#R2 #Zone_Fil button {
  background-color: #FF5F00;
  color: black;
  width: 70%;
  height: 50px;
  border: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-left: 15%;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

#R2 #Zone_Res {
  width: 68%;
  background-color: white;
  height: auto;
  margin-left: 1%;
}

#R2 #Zone_Res #Type_affichage {
  width: 100%;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
}

#R2 #Zone_Res #Type_affichage div {
  width: 5%;
}

#R2 #Zone_Res #Type_affichage div img {
  cursor: pointer;
  width: 20px;
  height: auto;
}

#R2 #Zone_Res #autre {
  width: 100%;
  height: auto;
}

#R2 #Zone_Res #autre .Voiture_list {
  width: 100%;
  height: auto;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .img_V {
  width: 30%;
  background-color: #FF5F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .img_V img {
  width: 100%;
  height: auto;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB {
  width: 70%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V {
  width: 100%;
  height: 200px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V p {
  color: black;
  font-size: 18px;
  font-weight: 900;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V #Z1 {
  width: 70%;
  padding: 0 5%;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V #Z1 .spanDes {
  color: black;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V .Z2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px #FF5F00;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V .Z2 .prix {
  background-color: white;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V .Z2 div {
  width: 60%;
  height: 50px;
  background-color: #FF5F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V .Z2 div p {
  color: #FF5F00;
  font-size: 18px;
  text-align: center;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_V .Z2 div input {
  height: 40px;
  width: 100%;
  background-color: #FF5F00;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: transparent;
  cursor: pointer;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones {
  width: 20%;
  margin-left: 5%;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones .icone {
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones .icone .imgI {
  width: 30%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones .icone .imgI img {
  width: 30px;
  height: auto;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones .icone .pI {
  width: 70%;
  margin: auto 0;
}

#R2 #Zone_Res #autre .Voiture_list .Voiture .Des_VB .Des_B .Icones .icone .pI p {
  font-size: 16px;
  color: #FF5F00;
  font-weight: 600;
  text-align: center;
}

#R2 #Zone_Res #autre .Voitures_grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  background-color: #FF5F00;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 {
  margin-top: 10px;
  width: 30%;
  height: 350px;
  background-color: white;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #img {
  width: 100%;
  height: 200px;
  background-color: white;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #img img {
  width: 100%;
  height: auto;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #marque {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #marque p {
  font-size: 18px;
  color: black;
  font-weight: 900;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #res-Prix {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #res-Prix #prix {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #res-Prix #prix p {
  font-size: 16px;
  color: #FF5F00;
  font-weight: 900;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #res-Prix #res {
  width: 50%;
  height: auto;
  margin-left: 5%;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #res-Prix #res input {
  height: 40px;
  width: 90%;
  background-color: #FF5F00;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: transparent;
  cursor: pointer;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 3px #FF5F00;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique div {
  background-color: #FFF;
  width: 30%;
  height: auto;
  background-color: white;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique div #imgV {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique div #imgV img {
  width: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique div #pV {
  width: 100%;
  height: auto;
}

#R2 #Zone_Res #autre .Voitures_grid .Voiture1 #Caracteristique div #pV p {
  font-size: 10px;
  color: Black;
  text-align: center;
  font-weight: 900;
}

#R2 #R4 {
  width: 100%;
  background-color: crimson;
  height: 400px;
}

#Pub {
  width: 100%;
  height: auto;
}

#Pub img {
  width: 100%;
  height: auto;
}

#Pub2 {
  width: 100%;
  height: auto;
}

#Pub2 img {
  height: auto;
}

#Compte {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Compte #C1 {
  width: 30%;
  height: 700px;
  top: 20px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #FF5F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Compte #C1 #Div_img {
  width: 100%;
  height: 150px;
  background-color: #FF5F00;
}

#Compte #C1 #Div_img #img1 {
  width: 30%;
  margin: 20px auto;
}

#Compte #C1 #Div_img #img1 img {
  width: auto;
  height: auto;
}

#Compte #C1 #Infos {
  width: 100%;
  height: auto;
  background-color: wheat;
}

#Compte #C1 #Infos .Info {
  width: 100%;
  height: 70px;
  background-color: #FF5F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Compte #C1 #Infos .Info .Info1,
#Compte #C1 #Infos .Info .RempInfos1 {
  width: 50%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Compte #C1 #Infos .Info .Info1 p,
#Compte #C1 #Infos .Info .RempInfos1 p {
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-align: center;
}

#Compte #C1 #btnDec {
  width: 30%;
  height: 40px;
  margin: 100px auto;
}

#Compte #C1 #btnDec input {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 68, 0, 0.349);
  border: solid 5px white;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#Compte #C2 {
  width: 65%;
  height: 2000px;
  background-color: burlywood;
}
/*# sourceMappingURL=Compte.css.map */